@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

body {
  font-family: 'Forum', cursive;
}

h1, h2 {
  font-family: 'Brandon Grotesque', sans-serif;
}

h3, h4, h5, h6 {
    font-family: 'Great Vibes', Updock;
  }

